@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;

  src: local(''), url('./NotoSansKR-400.woff2') format('woff2'),
    url('./NotoSansKR-400.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-style: normal;

  src: local(''), url('./NotoSansKR-500.woff2') format('woff2'),
    url('./NotoSansKR-500.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-style: normal;

  src: local(''), url('./NotoSansKR-700.woff2') format('woff2'),
    url('./NotoSansKR-700.woff') format('woff');
}
